/* ************************************************
Theme Name: Tripp
Author: Igor Gottschalg
Version: 1.3.3
Description: Baseado no Tema X-Sport it's wordpress e-commerce template.
*/


#wp-calendar {
	width: 100%;
}
#wp-calendar td, #wp-calendar th {
	border: 1px solid #eee;
	padding: 5px;
	text-align: center;
}
.wp-caption {
	max-width: 100%;
	list-style: none;
	background: none;
}
.wp-caption-text {
	list-style: none;
	padding: 10px;
	background: none;
}
.gallery-caption {
	list-style: none;
	background: none;
}
.bypostauthor {
	list-style: none;
	background: none;
}
.sidebar .block_content img {
	height: auto;
	margin: 10px 0 10px;
	max-width: 100%;
}
.wp-tag-cloud {
	padding: 0;
	margin: 0;
}
.wp-tag-cloud li {
	border: medium none !important;
	display: inline-block !important;
	margin: 0;
	padding: 0 !important;
}
.main-content td, .main-content th, .main-contenttd, .main-content td {
	border: 1px solid #ddd;
	font-weight: normal;
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
}
.main-content img {
	max-width: 100%;
	height: auto;
}
.main-content iframe {
	max-width: 100%;
}



/*Debug*/


.logged-in  .navbar-fixed-top {
	top: 32px;
}


.top-search .dropdown-menu a:after {
	display: none !important;
}

.clearfix.images
{
	width:100% !important;
}


/*Register*/

.woocommerce-account   #respond input#submit, .woocommerce-account   .woocommerce a.button, .woocommerce-account   button.button, .woocommerce-account   input.button {

	border: 1px solid #ddd !important;
	color:inherit !important;
}

#customer_login  input[type="checkbox"] {
	visibility: inherit;
}

@media only screen and (max-device-width : 768px) {

	.cd-events td {
		display: table;
		margin: 10px;
		text-align: center;
		vertical-align: middle;
		width: 100%;
	}

	table , .cd-events tbody , .cd-events tr{
		display:inline-block;
		width:100%;
	}


	html .events-content h3 {
		color: #fff !important;
		text-align: center;
		padding-top: 15px;
	}


	html .x-coutdown {
		margin: 0 auto;
		padding: 0;
	}


	.cd-events p{
		display:none !important;
	}

	html .events-content .events-date {
		font-size: 12px !important;
		text-align: center !important;
	}


	.mobile-menu{
		display: block !important;
		padding: 10px;
		background: #000;
		color: #fff;
	}

	.mobile-menu + .yamm{
		display:none;
	}


}


.mobile-menu{
	display:none ;
}

.woocommerce #review_form #respond .form-submit input {
	background: none repeat scroll 0 0 #000;
	left: auto;
	color: #fff !important;
}


html .woocommerce ul#shipping_method li {

	text-indent: 0;

}




/*9.09.2015*/


.single_variation_wrap{
	padding: 20px;
	border: 1px solid #ddd;
	margin-bottom: -1px;
	background: none repeat scroll 0 0 #f7f7f7;
}


.variations_button {
	padding-bottom: 10px;
	display: inline-block;
	padding-top: 10px;
}

.reset_variations{
	position:relative;
	top:5px;
}


.variations_button .qty {
	float: left;
	margin: 3px 10px 0 0px;
}


html .woocommerce div.product form.cart .variations label {
	font-weight: normal;
	color: #888;
	position: relative;
	top: 2px;
	font-size: 15px;
}


.variations_button  .cart.button {
	padding: 8px 10px !important;
}

html .product-right .amount {
	margin-right:10px;
}


.product-right .amount + .amount  {
	margin-left: 10px !important;
}

.variations{
	margin:10px 0;
}


.btn-action-item a.btn-cart {
	top: -4px !important;
}

html .wpb_map_wraper iframe {
	pointer-events: auto;
}


html .product-image {
	height: auto;
}


html .product-image img {
	max-width: 100%;
	height: auto;
	min-width: 252px;
}



.woocommerce-shipping-fields input[type=checkbox] {
	visibility: visible !important;
	margin: 10px;
	position: relative;
	top: 10px;
}

.woocommerce-shipping-fields .checkbox{
	display:inline-block !important;
	float:right;

}


.terms  input[type=checkbox] {
	visibility: visible !important;
	margin: 10px;
}

.related.products  .product-bottom del {
	font-size: 22px !important;
	margin-left: 10px !important;
	position: relative;
	top: 5px;
}



.product-bottom  .price-box .price {
	background: none repeat scroll 0 0 #000;
	color: #fff;
	display: inline-block;
	font-family: "oswaldbook";
	margin-right: 0;
	font-weight: normal;
	padding: 5px 10px;
	font-size: 14px;
}


.isotope-item .product-bottom  .price-box .price {

	padding: 0 !important ;

}




html .yamm.navbar-default, html .yamm.navbar-default li.active, html .box-date-post, html .btn-primary, html .tag-cloud li:hover, html .category-list li:hover, html .ft-box:hover, html .x-item-wrap .details, html .x-item-wrap .details:after, html .service-icon:after, html .icon-ft-list:after, html #filter li a:after, html .btn-icon, html .slide-desc:after, html #cd-team li:hover .staff-wrap, html #cd-team li:hover .staff-position, html #cd-team li:hover .cd-member-info:after, html .social-team li a:after, html #contactForm .btn-xl, html .table-line:hover .price-plan-wrap h3, html .table-line.active .price-plan-wrap h3, html .table-line:hover .ptable-offer-button, html .table-line.active .ptable-offer-button, html .btn-action-item a:hover, html .cd-events-wrapper .flex-direction-nav li:hover a, html .cd-submit, html .x-carousel li:after, html .primary-color, html .promo-item:hover .promo-caption, .x-navigation .btn-danger, html .blog-post-panel .btn:hover, html .subcategory-list .sub-heading, html .active-btn, html .active-btn, html .popover-shorty .panel-footer .btn, .product-button-group .btn-danger, html .view-post-btn:hover {
	background: #843F00 !important;
}

.top-search,.popover-shorty{
	margin-top: 30px;
}

.price .amount{
	color: #E21712;
}
footer.footer{
	padding: 30px 0px;
}
footer.footer ul{
	float: left;
	list-style: none;
}
footer.footer ul li{
	color: #FF9900;
	font-size: 12pt;
	font-weight: bold;
}
footer.footer ul li a{
	color: #fff;
	padding: 4px 0px;
	display: inline-block;
	font-size: 10pt;
}
.blog-logo a{
	margin-top: -10px;
}
.blog-logo a, .blog-logo a img{
	float: left;
	width: 100%;
}
.navbar{
	border: 0px !important;
}
.fullwidthbanner-container{
	margin-top: -10px !important;
}

.breadcrumb li{
	color: #000000 !important;
	font-size: 9pt !important;
	font-weight: bold !important;
}
.breadcrumb a{
	color: #000000 !important;
	font-size: 8pt !important;
}
.home h2{
	text-transform: uppercase;
	padding: 20px 0px;
	margin: 40px 0px 20px 0px;
	color: #843F00;
	font-size: 14pt;
	font-weight: bold;
	border-bottom: 3px solid #843F00;
	display: inline-block;;
	clear: right;
}
footer h2{
	clear: right;
	font-size: 14pt;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff !important;
	border: 0px !important;
	margin: 0px !important;
	padding: 10px 0px !important;
}
.space{
	height: 20px;
}

/*.btn-action-item a[href*="add_to_wishlist"]{
	display: none;
}

.btn-action-item a:nth-child(2){
	display: none;
}*/

.assinatura{
	background: #fff;
	text-align: center;
	padding: 20px 0px;
}

.contact-frame{
	margin-top: 40px;
	padding-top: 50px !important;
	padding-bottom: 50px !important;
	background-image: url(https://lojatrippaventura.com.br/wp-content/uploads/2016/04/footer-1.png) !important;
}

.contact-frame .fot-contact i{
border: 2px solid #ff8106 !important;
    border-radius: 100px;
    float: left;
    padding: 10px;
    width: 50px;
    line-height: 27px;
    color: #000;
    text-align: center;
    height: 50px;
    font-size: 20px;
}


.footer h2 {
	font-family: 'oswaldbook';
	text-transform: uppercase;
	font-size: 16px;
	text-align: left;
	position: relative;
	margin-bottom: 10px;
	margin-bottom: 20px !important;
	display: inline-block;
}


.footer h2::after {
    border: 1px solid #333333;
    border-left: 0;
    border-right: 0;
    bottom: -10px;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    width: 100%;
}


.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
	border: 1px solid #000;
	padding: 20px;
}


.woocommerce-info .showlogin,
.shipping-calculator-button,
.shipping-calculator-form .button{
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    text-decoration: none;
    overflow: visible;
    padding: 11px 20px;
    font-family: latoregular;
    border-radius: 0px;
    left: auto;
    border: 1px solid #ddd;
    text-transform: uppercase;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    color: #fff;
    background-color: #ffc908;
    border-color: #ffc908;
    color: #fff;
    -webkit-font-smoothing: antialiased;

}

.page-header-shop.page-header{
      //overflow : visible !important;
      margin-top : 0px !important;
}

.shipping-calculator-button{
   margin-top: 20px;
}

.logout-top{
   margin-top: 10px;
   display: inline-block;
}

p.pp_description{
   display: none !important;
}

div.ppt{
   display: none !important;
}

div.woocommerce-message a.button {
    background-color: #fecf10 !important;
}

.contactSendButton{
    background-color: "#FF8106" !important;
}