<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Categorias de produto` taxonomy...</div>
<div class="progress-msg">Composing terms for `Etiquetas de produto` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing images meta data (alt text)...</div>
<div class="progress-msg">Composing images meta data (description)...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Luva Specialized BG PRO (vermelho+preto)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Luva Specialized BG PRO (vermelho+preto)`...</div>
<div class="progress-msg">Duplicate post was found for post Luva Specialized BG PRO (vermelho+preto) with unique key `Luva Specialized BG PRO (vermelho+preto) - 688190`...</div>
<div class="progress-msg">Deleting attachments for `Luva Specialized BG PRO (vermelho+preto)`</div>
<div class="progress-msg">Deleting images for `Luva Specialized BG PRO (vermelho+preto)`</div>
<div class="progress-msg"><b>UPDATING</b> `Luva Specialized BG PRO (vermelho+preto)` `Produto`</div>
<div class="progress-msg">Associate post `Luva Specialized BG PRO (vermelho+preto)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `2441064716_BG_PRO_red-blk-s.jpg` for `Luva Specialized BG PRO (vermelho+preto)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/2441064716_BG_PRO_red-blk-s.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/2441064716_BG_PRO_red-blk-s.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/2441064716_BG_PRO_red-blk-s.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/2441064716_BG_PRO_red-blk-s.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Luvas`, duplicate detected. Importing Produto to existing `Luvas` product_cat, ID 407, slug `luvas-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Luva Specialized BG PRO (vermelho+preto)` `Produto` (ID: 5373)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bermuda Scott Authentic (preto+azul+branco)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bermuda Scott Authentic (preto+azul+branco)`...</div>
<div class="progress-msg">Duplicate post was found for post Bermuda Scott Authentic (preto+azul+branco) with unique key `Bermuda Scott Authentic (preto+azul+branco) - 1684012`...</div>
<div class="progress-msg">Deleting attachments for `Bermuda Scott Authentic (preto+azul+branco)`</div>
<div class="progress-msg">Deleting images for `Bermuda Scott Authentic (preto+azul+branco)`</div>
<div class="progress-msg"><b>UPDATING</b> `Bermuda Scott Authentic (preto+azul+branco)` `Produto`</div>
<div class="progress-msg">Associate post `Bermuda Scott Authentic (preto+azul+branco)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `BERMUDA-SCOTT-AUTHENTIC-PRETO-AZUL-BRANCO-S.jpg` for `Bermuda Scott Authentic (preto+azul+branco)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/BERMUDA-SCOTT-AUTHENTIC-PRETO-AZUL-BRANCO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/BERMUDA-SCOTT-AUTHENTIC-PRETO-AZUL-BRANCO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/BERMUDA-SCOTT-AUTHENTIC-PRETO-AZUL-BRANCO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/BERMUDA-SCOTT-AUTHENTIC-PRETO-AZUL-BRANCO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Bermuda`, duplicate detected. Importing Produto to existing `Bermuda` product_cat, ID 341, slug `bermuda` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Bermuda Scott Authentic (preto+azul+branco)` `Produto` (ID: 5375)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bermuda Scott Authentic (preto+azul+branco)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bermuda Scott Authentic (preto+azul+branco)`...</div>
<div class="progress-msg">Duplicate post was found for post Bermuda Scott Authentic (preto+azul+branco) with unique key `Bermuda Scott Authentic (preto+azul+branco) - 1684012`...</div>
<div class="progress-msg">Deleting attachments for `Bermuda Scott Authentic (preto+azul+branco)`</div>
<div class="progress-msg">Deleting images for `Bermuda Scott Authentic (preto+azul+branco)`</div>
<div class="progress-msg"><b>UPDATING</b> `Bermuda Scott Authentic (preto+azul+branco)` `Produto`</div>
<div class="progress-msg">Associate post `Bermuda Scott Authentic (preto+azul+branco)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `BERMUDA-SCOTT-AUTHENTIC-PRETO-AZUL-BRANCO-S.jpg` for `Bermuda Scott Authentic (preto+azul+branco)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/BERMUDA-SCOTT-AUTHENTIC-PRETO-AZUL-BRANCO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/BERMUDA-SCOTT-AUTHENTIC-PRETO-AZUL-BRANCO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/BERMUDA-SCOTT-AUTHENTIC-PRETO-AZUL-BRANCO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/BERMUDA-SCOTT-AUTHENTIC-PRETO-AZUL-BRANCO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Bermuda`, duplicate detected. Importing Produto to existing `Bermuda` product_cat, ID 341, slug `bermuda` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Bermuda Scott Authentic (preto+azul+branco)` `Produto` (ID: 5375)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bretelle Scott RC (preto+branco+cinza)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bretelle Scott RC (preto+branco+cinza)`...</div>
<div class="progress-msg">Duplicate post was found for post Bretelle Scott RC (preto+branco+cinza) with unique key `Bretelle Scott RC (preto+branco+cinza) - 1683997`...</div>
<div class="progress-msg">Deleting attachments for `Bretelle Scott RC (preto+branco+cinza)`</div>
<div class="progress-msg">Deleting images for `Bretelle Scott RC (preto+branco+cinza)`</div>
<div class="progress-msg"><b>UPDATING</b> `Bretelle Scott RC (preto+branco+cinza)` `Produto`</div>
<div class="progress-msg">Associate post `Bretelle Scott RC (preto+branco+cinza)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `BRETELLE-SCOTT-RC-PRETO-BRANCO-CINZA-S.jpg` for `Bretelle Scott RC (preto+branco+cinza)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/BRETELLE-SCOTT-RC-PRETO-BRANCO-CINZA-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/BRETELLE-SCOTT-RC-PRETO-BRANCO-CINZA-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/BRETELLE-SCOTT-RC-PRETO-BRANCO-CINZA-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/BRETELLE-SCOTT-RC-PRETO-BRANCO-CINZA-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Bretele`, duplicate detected. Importing Produto to existing `Bretele` product_cat, ID 408, slug `bretele-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Bretelle Scott RC (preto+branco+cinza)` `Produto` (ID: 5378)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bretelle Scott RC (preto+branco+cinza)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bretelle Scott RC (preto+branco+cinza)`...</div>
<div class="progress-msg">Duplicate post was found for post Bretelle Scott RC (preto+branco+cinza) with unique key `Bretelle Scott RC (preto+branco+cinza) - 1683997`...</div>
<div class="progress-msg">Deleting attachments for `Bretelle Scott RC (preto+branco+cinza)`</div>
<div class="progress-msg">Deleting images for `Bretelle Scott RC (preto+branco+cinza)`</div>
<div class="progress-msg"><b>UPDATING</b> `Bretelle Scott RC (preto+branco+cinza)` `Produto`</div>
<div class="progress-msg">Associate post `Bretelle Scott RC (preto+branco+cinza)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `BRETELLE-SCOTT-RC-PRETO-BRANCO-CINZA-S.jpg` for `Bretelle Scott RC (preto+branco+cinza)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/BRETELLE-SCOTT-RC-PRETO-BRANCO-CINZA-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/BRETELLE-SCOTT-RC-PRETO-BRANCO-CINZA-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/BRETELLE-SCOTT-RC-PRETO-BRANCO-CINZA-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/BRETELLE-SCOTT-RC-PRETO-BRANCO-CINZA-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Bretele`, duplicate detected. Importing Produto to existing `Bretele` product_cat, ID 408, slug `bretele-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Bretelle Scott RC (preto+branco+cinza)` `Produto` (ID: 5378)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bermuda Scott Authentic (preto+vermelho+branco)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bermuda Scott Authentic (preto+vermelho+branco)`...</div>
<div class="progress-msg">Duplicate post was found for post Bermuda Scott Authentic (preto+vermelho+branco) with unique key `Bermuda Scott Authentic (preto+vermelho+branco) - 1684019`...</div>
<div class="progress-msg">Deleting attachments for `Bermuda Scott Authentic (preto+vermelho+branco)`</div>
<div class="progress-msg">Deleting images for `Bermuda Scott Authentic (preto+vermelho+branco)`</div>
<div class="progress-msg"><b>UPDATING</b> `Bermuda Scott Authentic (preto+vermelho+branco)` `Produto`</div>
<div class="progress-msg">Associate post `Bermuda Scott Authentic (preto+vermelho+branco)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `BERMUDA-SCOTT-AUTHENTIC-PRETO-VERMELHO-BRANCO-S.jpg` for `Bermuda Scott Authentic (preto+vermelho+branco)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/BERMUDA-SCOTT-AUTHENTIC-PRETO-VERMELHO-BRANCO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/BERMUDA-SCOTT-AUTHENTIC-PRETO-VERMELHO-BRANCO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/BERMUDA-SCOTT-AUTHENTIC-PRETO-VERMELHO-BRANCO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/BERMUDA-SCOTT-AUTHENTIC-PRETO-VERMELHO-BRANCO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Bermuda`, duplicate detected. Importing Produto to existing `Bermuda` product_cat, ID 341, slug `bermuda` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Bermuda Scott Authentic (preto+vermelho+branco)` `Produto` (ID: 5381)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bermuda Scott Authentic (preto+vermelho+branco)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bermuda Scott Authentic (preto+vermelho+branco)`...</div>
<div class="progress-msg">Duplicate post was found for post Bermuda Scott Authentic (preto+vermelho+branco) with unique key `Bermuda Scott Authentic (preto+vermelho+branco) - 1684019`...</div>
<div class="progress-msg">Deleting attachments for `Bermuda Scott Authentic (preto+vermelho+branco)`</div>
<div class="progress-msg">Deleting images for `Bermuda Scott Authentic (preto+vermelho+branco)`</div>
<div class="progress-msg"><b>UPDATING</b> `Bermuda Scott Authentic (preto+vermelho+branco)` `Produto`</div>
<div class="progress-msg">Associate post `Bermuda Scott Authentic (preto+vermelho+branco)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `BERMUDA-SCOTT-AUTHENTIC-PRETO-VERMELHO-BRANCO-S.jpg` for `Bermuda Scott Authentic (preto+vermelho+branco)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/BERMUDA-SCOTT-AUTHENTIC-PRETO-VERMELHO-BRANCO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/BERMUDA-SCOTT-AUTHENTIC-PRETO-VERMELHO-BRANCO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/BERMUDA-SCOTT-AUTHENTIC-PRETO-VERMELHO-BRANCO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/BERMUDA-SCOTT-AUTHENTIC-PRETO-VERMELHO-BRANCO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Bermuda`, duplicate detected. Importing Produto to existing `Bermuda` product_cat, ID 341, slug `bermuda` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Bermuda Scott Authentic (preto+vermelho+branco)` `Produto` (ID: 5381)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott RC 2014 manga curta (branco+preto+amarelo) with unique key `Camisa Scott RC 2014 manga curta (branco+preto+amarelo) - 1684047`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg` for `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)` `Produto` (ID: 5384)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott RC 2014 manga curta (branco+preto+amarelo) with unique key `Camisa Scott RC 2014 manga curta (branco+preto+amarelo) - 1684047`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg` for `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)` `Produto` (ID: 5384)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott RC 2014 manga curta (branco+preto+amarelo) with unique key `Camisa Scott RC 2014 manga curta (branco+preto+amarelo) - 1684047`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg` for `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/9921991230_CAMISA-SCOTT-RC-2014-BRANCO-PRETO-AMARELO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott RC 2014 manga curta (branco+preto+amarelo)` `Produto` (ID: 5384)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott Authentic manga curta (branco+preto)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott Authentic manga curta (branco+preto)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott Authentic manga curta (branco+preto) with unique key `Camisa Scott Authentic manga curta (branco+preto) - 1684193`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott Authentic manga curta (branco+preto)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott Authentic manga curta (branco+preto)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott Authentic manga curta (branco+preto)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott Authentic manga curta (branco+preto)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg` for `Camisa Scott Authentic manga curta (branco+preto)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott Authentic manga curta (branco+preto)` `Produto` (ID: 5388)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott Authentic manga curta (branco+preto)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott Authentic manga curta (branco+preto)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott Authentic manga curta (branco+preto) with unique key `Camisa Scott Authentic manga curta (branco+preto) - 1684193`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott Authentic manga curta (branco+preto)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott Authentic manga curta (branco+preto)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott Authentic manga curta (branco+preto)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott Authentic manga curta (branco+preto)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg` for `Camisa Scott Authentic manga curta (branco+preto)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott Authentic manga curta (branco+preto)` `Produto` (ID: 5388)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott Authentic manga curta (branco+preto)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott Authentic manga curta (branco+preto)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott Authentic manga curta (branco+preto) with unique key `Camisa Scott Authentic manga curta (branco+preto) - 1684193`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott Authentic manga curta (branco+preto)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott Authentic manga curta (branco+preto)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott Authentic manga curta (branco+preto)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott Authentic manga curta (branco+preto)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg` for `Camisa Scott Authentic manga curta (branco+preto)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-AUTHENTIC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott Authentic manga curta (branco+preto)` `Produto` (ID: 5388)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott RC manga curta (branco+preto)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott RC manga curta (branco+preto)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott RC manga curta (branco+preto) with unique key `Camisa Scott RC manga curta (branco+preto) - 1684217`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott RC manga curta (branco+preto)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott RC manga curta (branco+preto)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott RC manga curta (branco+preto)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott RC manga curta (branco+preto)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` for `Camisa Scott RC manga curta (branco+preto)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott RC manga curta (branco+preto)` `Produto` (ID: 5392)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott RC manga curta (branco+preto)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott RC manga curta (branco+preto)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott RC manga curta (branco+preto) with unique key `Camisa Scott RC manga curta (branco+preto) - 1684217`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott RC manga curta (branco+preto)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott RC manga curta (branco+preto)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott RC manga curta (branco+preto)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott RC manga curta (branco+preto)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` for `Camisa Scott RC manga curta (branco+preto)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott RC manga curta (branco+preto)` `Produto` (ID: 5392)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott RC manga curta (branco+preto)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott RC manga curta (branco+preto)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott RC manga curta (branco+preto) with unique key `Camisa Scott RC manga curta (branco+preto) - 1684217`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott RC manga curta (branco+preto)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott RC manga curta (branco+preto)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott RC manga curta (branco+preto)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott RC manga curta (branco+preto)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` for `Camisa Scott RC manga curta (branco+preto)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott RC manga curta (branco+preto)` `Produto` (ID: 5392)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott RC manga curta (branco+preto)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott RC manga curta (branco+preto)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott RC manga curta (branco+preto) with unique key `Camisa Scott RC manga curta (branco+preto) - 1684217`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott RC manga curta (branco+preto)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott RC manga curta (branco+preto)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott RC manga curta (branco+preto)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott RC manga curta (branco+preto)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` for `Camisa Scott RC manga curta (branco+preto)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott RC manga curta (branco+preto)` `Produto` (ID: 5392)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott RC manga curta (branco+preto)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott RC manga curta (branco+preto)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott RC manga curta (branco+preto) with unique key `Camisa Scott RC manga curta (branco+preto) - 1684217`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott RC manga curta (branco+preto)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott RC manga curta (branco+preto)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott RC manga curta (branco+preto)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott RC manga curta (branco+preto)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` for `Camisa Scott RC manga curta (branco+preto)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott RC manga curta (branco+preto)` `Produto` (ID: 5392)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott RC manga curta (branco+preto)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott RC manga curta (branco+preto)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott RC manga curta (branco+preto) with unique key `Camisa Scott RC manga curta (branco+preto) - 1684217`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott RC manga curta (branco+preto)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott RC manga curta (branco+preto)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott RC manga curta (branco+preto)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott RC manga curta (branco+preto)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` for `Camisa Scott RC manga curta (branco+preto)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott RC manga curta (branco+preto)` `Produto` (ID: 5392)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Camisa Scott RC manga LONGA (branco+preto)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Camisa Scott RC manga LONGA (branco+preto)`...</div>
<div class="progress-msg">Duplicate post was found for post Camisa Scott RC manga LONGA (branco+preto) with unique key `Camisa Scott RC manga LONGA (branco+preto) - 1684235`...</div>
<div class="progress-msg">Deleting attachments for `Camisa Scott RC manga LONGA (branco+preto)`</div>
<div class="progress-msg">Deleting images for `Camisa Scott RC manga LONGA (branco+preto)`</div>
<div class="progress-msg"><b>UPDATING</b> `Camisa Scott RC manga LONGA (branco+preto)` `Produto`</div>
<div class="progress-msg">Associate post `Camisa Scott RC manga LONGA (branco+preto)` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `CAMISA-SCOTT-RC-MANGA-LONGA-BRANCO-PRETO-S.jpg` for `Camisa Scott RC manga LONGA (branco+preto)` ...</div>
<div class="progress-msg">- Searching for existing image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-MANGA-LONGA-BRANCO-PRETO-S.jpg` in `/var/www/html/wp-content/uploads/wpallimport/files/` folder</div>
<div class="progress-msg">- Image `/var/www/html/wp-content/uploads/wpallimport/files/CAMISA-SCOTT-RC-MANGA-LONGA-BRANCO-PRETO-S.jpg` has been successfully found</div>
<div class="progress-msg">- Creating an attachment for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-MANGA-LONGA-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://trippaventura.cloudapp.net/wp-content/uploads/2016/03/CAMISA-SCOTT-RC-MANGA-LONGA-BRANCO-PRETO-S.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Produto product_cat `Camisas de Ciclismo`, duplicate detected. Importing Produto to existing `Camisas de Ciclismo` product_cat, ID 409, slug `camisas-de-ciclismo-2` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Camisa Scott RC manga LONGA (branco+preto)` `Produto` (ID: 5399)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
