
/*------------------------------------------------------------------
[Table of contents]

01.Grid   
02.Catalog         
03.Filter      
04.ITEM       
05.List view   
06.Footer Shop            
07.Home Promo Blocks       
08.Shop Section       

-------------------------------------------------------------------*/
@media only screen and (min-device-width : 768px) {
.pix-header2 .shop-section, .pix-header2 .header > .container {
	display: none !important;
}
.pix-header2 .shop-header {
	margin-top: -3px;
}
.pix-header2 .yamm {
	position: fixed;
	z-index: 777;
	top: -30px;
	left: 0;
	width: 100%;
}
.pix-header2 .navbar {
	min-height: inherit !important;
}
.pix-header2 .yamm.navbar-fixed-top {
	top: 0px;
}
.logged-in .pix-header2 .yamm.navbar-fixed-top {
	top: 15px;
}
.pix-header2 .yamm {
	position: fixed;
	top: -70px;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s
}
}
/* 01  Grid */

.catalog-grid {
	display: none;
	position: relative;
}
.product-grid {
	margin: 0;
	padding: 0;
	width: 105%;
}
.product-grid li {
	display: inline-block;
	list-style: outside none none;
	margin: 0 40px 20px 0;
	position: relative;
	vertical-align: top;
	width: 253px;
}
.col-resize-full-width {
	min-width: 100%;
}
.product-grid li:hover {
	background: #f7f7f7;
}
.product-image {
	background: #fff;
	overflow: hidden;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	position: relative;
	height: 290px;
}
.product-image img {
	max-width: 100%;
	height: auto;
}
.col-resize-full-width .list-view .product-image img {
	height: auto;
	min-width: 356px;
	width: 100%;
}
.product-bottom .product-name {
	font-family: "oswaldbook";
	font-size: 15px;
	line-height: 20px;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	display: inline-block;
}
.product-bottom .x-hover-text {
	display: block;
	padding: 5px;
	position: relative;
	z-index: 7;
}
.product-bottom .x-hover:after {
	background-color: #000;
	content: '';
	display: inline-block;
	height: 100%;
	left: 0;
	max-width: 0;
	width: 100%;
	padding: 0;
	position: absolute;
	top: 0;
	overflow: hidden;
}
.x-hovered-active .x-hover:after {
	max-width: 100% !important;
	line-height: inherit;
	-webkit-transition: max-width .3s ease-out;
	-moz-transition: max-width .3s ease-out;
	-ms-transition: max-width .3s ease-out;
	-o-transition: max-width .3s ease-out;
	transition: max-width .3s ease-out;
}
.x-hovered-active .product-name {
	color: #fff;
}
.product-bottom {
	padding: 0 10px 10px;
	text-align: left;
}
.price-box {
	position: relative;
}
.price-regular-single {
	background: none;
	color: #e21712;
	display: inline-block;
	font-family: "oswaldbook";
	margin-right: 10px;
	padding: 5px;
}
 .price-box .price del .amount  , .price-old  {
	
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #878787;
	font-family: "oswaldbook";
	font-size: 14px;
	text-decoration: line-through;
	
	
	
}
.price-regular, .price-box .price .amount , .price-box .price ins .amount  {
background: none repeat scroll 0 0 #000;
	color: #fff;
	display: inline-block;
	font-family: "oswaldbook";
	margin-right: 0;
	font-weight: normal;
	padding: 5px 10px;
	font-size: 14px;
}
.price-box .price ins {
	text-decoration: none !important;
}
.price-reduction {
	background: none repeat scroll 0 0 #aaaaaa;
	color: #fff;
	font-family: "oswaldbook";
	font-size: 11px;
	margin-left: 12px;
	padding: 5px 5px 5px 7px;
	position: relative;
}
.price-reduction:after {
	border-bottom: 14px solid transparent;
	border-top: 14px solid transparent;
	border-left: 9px solid transparent;
	border-right: 9px solid #aaaaaa;
	position: absolute;
	left: -16px;
	top: 0;
	content: '';
}
#resize-anchor {
	position: relative;
	top: -300px;
}
.product .label-sale {
	left: 30px;
}
.catalog-grid .label-sale, .catalog-grid .label-hot, .catalog-grid .label-not-available, .catalog-grid .label-star, .catalog-grid .label-best {
	left: 10px;
}
#pix-shop .label-best {
	left: 15px;
}
.label-sale, .label-hot, .label-not-available, .label-star, .label-best {
	background: none repeat scroll 0 0 #00b200;
	color: #fff;
	font-family: "latobold";
	font-size: 12px;
	left: 25px;
	padding: 7px 12px 7px;
	position: absolute;
	text-transform: uppercase;
	top: 10px;
	z-index: 8;
	overflow: hidden;
}
.label-sale:before, .label-hot:before, .label-best:before, .label-not-available:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 4px solid transparent;
	border-top-color: #fff !important;
	border-right-color: #fff !important;
	right: 2px;
	position: absolute;
	top: 2px;
}
.product-image .label-not-available {
	background-color: #aaaaaa;
}
.product-image .label-hot {
	background-color: #e21712;
}
.label-hot-active .product-image {
	border-color: #000;
}
.label-best {
	background-color: #e21712;
}
.product-image .label-star {
	background: none repeat scroll 0 0 #000;
	left: auto;
	padding-left: 10px;
	padding-right: 7px;
	right: 10px;
}
.fa-star {
	color: #ffc908;
	margin-right: 2px;
}
.label-not-available-active img {
}
.x-hovered-active .btn-action-item {
	bottom: 15px;
}
.btn-action-item {
	bottom: -55px;
	left: 0;
	padding: 0 10px;
	position: absolute;
	z-index: 12;
	text-align: center;
	top: auto;
	width: 100%;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
.btn-action-item .loading .fa-shopping-cart, .btn-action-item .added .fa-shopping-cart {
	display: none !important;
}
.btn-action-item .added_to_cart {
	display: none !important;
}
.btn-action-item a {
	background: none repeat scroll 0 0 #000;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	margin-left: -4px;
	padding: 5px;
	width: 41px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	text-decoration: none !important;
}
.btn-action-item a i {
	font-size: 17px;
	position: relative;
	top: 2px;
}
.btn-action-item a.btn-cart {
	background-color: #ffc908;
	padding: 10px !important;
	color: #000;
	top: -2px;
	height: 38px;
	position: relative;
	margin: 0;
	line-height: 1;
	cursor: pointer;
	text-decoration: none;
	border-radius: 0px;
	left: auto;
	border: 0;
	white-space: nowrap;
	display: inline-block;
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: none;
}
.isotope-frame .btn-action-item a.btn-cart {
	top: 1px !important;
}
.btn-action-item a:hover {
	background-color: #e21712;
	color: #fff !important
}
.btn-action-item .loading.btn-cart:after {
	position: relative;
	top: 12px !important;
	right: 2px;
}
.btn-action-item a.btn-cart:after {
	position: relative;
	top: 3px;
	right: 2px;
}
.btn-action-item a:before {
	display: none !important;
}
.product-grid li .slider_img {
	left: 0px;
	position: absolute !important;
	top: 0px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* IE 5.5+*/
	-moz-opacity: 0; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 0; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
	max-width: 240px;
}
.product-grid li:hover .slider_img {
	-o-transition: all 1s;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1); /* IE 5.5+*/
	-moz-opacity: 1; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
	opacity: 1; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}
.filter-panel .form-group {
	margin-right: 10px;
}
.filter-panel .sbHolder {
	float: left;
}
.filter-panel label {
	display: block;
	float: left;
	margin: 10px 10px 0 0 !important;
	text-transform: uppercase;
}
/* 02 Catalog */

.page-title h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.page-title .line {
	margin: 0 0 20px 0;
}
.catalog-product-list .list-group-item {
	display: inline-block;
	height: auto;
	margin-bottom: 15px;
	padding: 0;
}
.catalog-product-list .list-group-item:nth-child(2n) {
	background: #f9f9f9;
	border: none;
}
.catalog-product-list .btn:hover {
	background: none repeat scroll 0 0 #000000;
	border-color: #000;
	text-decoration: none;
}
.catalog-product-list .media > .pull-left {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin-left: -49px;
	overflow: hidden;
	padding: 0;
	transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
	transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.catalog-product-list .media {
	position: relative;
}
.catalog-product-list .media .arrow-link {
	bottom: -1px;
	position: absolute;
	right: 43px;
	z-index: 78;
}
.catalog-product-list .media > .pull-left img {
	display: block;
	left: 35px;
	width: 100%;
	height: auto;
	position: relative;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	transform-style: flat;
}
.list-group-item-text {
	clear: both;
	color: #858585;
	font-size: 13px;
	line-height: 1.22;
	padding-bottom: 10px;
}
.list-group-item-heading {
	float: left;
	text-transform: uppercase;
}
.list-group-item .price {
	float: right;
}
.list-group-item-content {
	padding-top: 20px;
}
.product-box {
	text-align: right;
}
.product-box .btn {
	position: relative;
	transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	border: none;
	padding: 10px 15px;
	margin: 0 10px 10px;
	display: inline-block;
	transform: rotate(0deg) scale(1.003) skew(14degdeg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
}
.product-box .btn i {
	font-size: 15px;
	margin-right: 10px;
}
.product-box .btn i, .product-box .btn a, .product-box .btn span {
	display: inline-block;
	transform: rotate(0deg) scale(1.003) skew(-14degdeg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	color: #fff;
}
.seller {
	float: right;
	font-family: inherit;
	font-size: 13px;
	font-weight: normal;
	margin-left: 10px;
	margin-top: 5px;
	text-transform: none;
}
.catalog-product-list .arrow-link:after {
	display: none;
}
.subcategory-heading {
	display: inline-block;
	margin-right: 20px;
}
.subcategory-list {
	display: inline-block;
	margin: 20px 0;
}
.subcategory-list ul {
	margin: 0;
	padding: 0;
}
.subcategory-list li {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ddd;
	display: inline-block;
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-top: 0;
	position: relative;
	vertical-align: top;
}
.subcategory-list li .x-hover-text {
	display: block;
	padding: 5px 10px;
}
.subcategory-list li .x-hover-text {
	display: block;
	padding: 5px 15px;
	position: relative;
	z-index: 7;
	display: inline-block;
	list-style: outside none none;
	text-transform: uppercase;
	vertical-align: top;
}
.subcategory-list li.x-hover:after {
	background-color: #000;
	content: '';
	display: inline-block;
	height: 100%;
	left: 0;
	max-width: 0;
	width: 100%;
	padding: 0;
	position: absolute;
	top: 0;
	overflow: hidden;
}
.subcategory-list li:hover.x-hover:after {
	max-width: 100%;
	line-height: inherit;
	-webkit-transition: max-width .3s ease-out;
	-moz-transition: max-width .3s ease-out;
	-ms-transition: max-width .3s ease-out;
	-o-transition: max-width .3s ease-out;
	transition: max-width .3s ease-out;
}
.subcategory-list li:hover .x-hover-text {
	color: #fff;
	text-decoration: none;
}
.subcategory-list .sub-heading {
	background-color: #e21712;
	color: #fff;
}
/* 03 Filter*/

.widget-filter .sbSelector:link, .widget-filter .sbSelector:visited, .widget-filter .sbSelector:hover, .widget-filter .sbOptions a:link, .widget-filter .sbOptions a:visited {
	color: #878787;
}
.noUi-target {
	margin-top: 20px;
}
.list-content {
	clear: both;
	display: inline-block;
	padding: 10px 0;
	width: 100%;
}
.list-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.list-content ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
.list-group-heading {
	background: none repeat scroll 0 0 #000000;
	color: #fff;
	font-family: "oswaldbook";
	font-size: 16px;
	padding: 10px;
	position: relative;
	text-transform: uppercase;
}
.list-group-heading:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 4px solid transparent;
	border-top-color: #ffc908 !important;
	border-right-color: #ffc908 !important;
	right: 3px;
	position: absolute;
	top: 3px;
}
.widget-filter .block_content li {
	padding: 5px 0;
}
.widget-filter .block_content label {
	text-transform: uppercase;
}
.widget-filter .block_content .sbHolder, .widget-filter .block_content .sbOptions, .widget-filter .block_content .sbSelector {
	width: 100%;
}
.btn-filter {
	background: none repeat scroll 0 0 #f9f9f9;
	border-top: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}
.btn-filter .btn {
	left: -15px;
	margin: 0 auto;
	position: relative;
}
.widget-special .entry-title {
	font-family: "latobold";
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}
.widget-special .entry-thumbnail {
	max-width: 90px;
}
.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}
.container-fluid {
	max-width: 1140px;
	margin: 0 auto;
}
.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}
html .yith-wcwl-add-to-wishlist {
	margin-top: 15px;
}
/*04 ITEM */


.title_wrap {
	position: relative;
	border-bottom: 1px solid #ddd;
	padding: 0 100px 0px 0;
	margin-bottom: 15px;
}
.title_wrap .sku_wrapper {
	position: absolute;
	right: 0;
	top: 0;
}
.product-paging {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px 0;
}
.product-paging .btn {
	padding: 0 5px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.product-paging .btn:hover {
	background: #000;
}
.product-paging .btn:hover span {
	color: #fff;
}
.product-paging .btn span {
	font-size: 27px;
	position: relative;
	top: 2px;
}
.btn-arrow {
	background: none repeat scroll 0 0 #000;
	padding: 5px 5px 5px 25px;
	position: relative;
	font-family: 'oswaldbook';
	font-size: 13px;
	color: #fff;
	margin-left: 0px;
	top: 8px;
}
.btn-arrow:after {
	border-right: 9px solid #000;
	border-bottom: 16px solid #fff;
	border-top: 16px solid #fff;
	border-left: 9px solid #fff;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
}
.btn-arrow-left {
	position: relative;
	right: -2px;
}
.quick-view-modal {
	max-width: 1200px;
	margin: 5% auto 1%;
}
.close-modal {
	cursor: pointer;
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 78;
}
#image-block ul {
	margin: 0;
	padding: 0;
}
#slider-product {
	border: 1px solid #ddd;
}
#carousel li img, #slider-product img {
	width: 100%;
	height: auto;
}
#carousel .slides li {
	border: 1px solid #ddd;
	margin: 20px 6px 6px 0;
}
.product-image-left img {
	width: 100%;
	height: auto;
}
.product-info .tab-content {
	padding: 20px 0;
}
#image-block .flex-direction-nav {
}
.product-image-left {
	margin-bottom: 30px;
}
.product-right .price-box, .product-right .price-old {
	font-size: 28px;
}
.product-right .price-reduction {
	background: none repeat scroll 0 0 #aaaaaa;
	padding: 5px 5px 5px 25px;
	position: relative;
	font-family: 'oswaldbook';
	font-size: 22px;
	color: #fff;
	font-size: 19px;
	margin-left: 0px;
	top: -5px;
}
.product-right .price-reduction:after {
	border-right: 9px solid #aaaaaa;
	border-bottom: 21px solid #fff;
	border-top: 21px solid #fff;
	border-left: 9px solid #fff;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
}
.product-right .footer-panel {
	padding-top: 0;
}
.product-right .footer-panel:after {
	border-bottom: 0;
}
.product-label {
	padding-top: 30px;
	text-align: center;
}
.product-quantity .qty {
	float: none !important;
}
.qty {
	float: left;
	margin: 0;
}
.input-qty-box {
	float: left;
	margin: 5px 20px 0 0;
}
.input-qty-box li {
	display: inline-block;
	float: left;
	vertical-align: top;
}
.input-qty-box .range {
	margin: 0;
	padding: 0;
}
.minus_btn {
	border: 1px solid #ddd;
	display: block;
	float: left;
	height: 36px;
	margin-right: -2px;
	width: 36px;
	position: relative;
	cursor: pointer;
}
.minus_btn .fa, .plus_btn .fa {
	color: #878787;
	left: 12px;
	position: absolute;
	top: 10px;
}
.plus_btn {
	border: 1px solid #ddd;
	display: block;
	float: right;
	height: 36px;
	margin-left: -2px;
	width: 36px;
	position: relative;
	cursor: pointer;
}
.txtbox {
	background: none repeat scroll 0 0 #f7f7f7;
	border: 1px solid #ddd !important;
	padding: 7px !important;
	text-align: center;
	width: 33px;
}
.fancybox-skin .btn, .fancybox-skin .button {
	padding: 8px 12px 6px 12px;
}
.product-button-group .cart {
	margin-right: 10px;
}
.product_meta .posted_in {
	display: inline-block;
	width: 100%;
}
.product_meta .posted_in a, .tagged_as a {
	color: #888;
	display: inline-block;
	margin: 0 0px 0px 0;
	-moz-transition: all .1s;
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}
.product_meta .posted_in a:hover, .tagged_as a:hover {
	text-decoration: none;
	background: #000;
	color: #fff;
}
.product_meta .posted_in a, .tagged_as a {
	display: inline-block;
	padding: 5px;
}
.posted_in_cat {
	font-family: 'oswaldbook';
	text-transform: uppercase;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 2px;
	font-size: 18px;
}
#tab-info-anchore {
	position: relative;
	top: -100px;
}
.rew_blk .top_row .date, .rew_blk .top_row .user, .rew_blk .top_row .product-rating {
	display: inline-block;
	margin-left: 0;
	padding-left: 0;
	margin-right: 20px;
}
.rew_blk .top_row .date .fa, .rew_blk .top_row .user .fa {
	margin-right: 5px;
	color: #888888;
}
.rew_blk .top_row {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ddd;
}
.rew_blk h5 {
	text-transform: uppercase;
}
.rew_blk p {
	margin: 0 0 10px;
}
.form-star-box .starrr {
	padding: 15px 0;
}
.form-star-box .starrr i {
	font-size: 24px;
	margin-right: 8px;
}
.product-info {
	clear: both;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}
.product-info .nav-tabs > li > a {
	background: none repeat scroll 0 0 #f7f7f7;
	font-size: 13px;
	color: #888888;
	padding: 20px 30px;
}
.product-info .nav-tabs > li {
	border-top: #fff 3px solid;
	text-transform: uppercase;
}
.product-info .nav-tabs > li.active {
	background-color: #fff !important;
	border-color: #000;
	color: #000;
}
.product-info .nav-tabs > li.active a {
	background-color: #fff !important;
	color: #000;
}
.bg-overlay {
	background: none repeat scroll 0 0 #f9f9f9;
	padding-bottom: 30px;
	padding-top: 30px;
}
.overlay-top {
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 30px;
	margin-top: -45px;
}
.overlay-bot {
	margin-bottom: 30px;
	margin-top: 30px;
	padding-bottom: 70px;
}
.price-line {
	display: inline-block;
	width: 100%;
}
.product-name {
	color: #000000;
	font-size: 32px;
	font-weight: normal;
	margin: 0 0 5px;
	padding: 0;
	text-transform: none;
}
#image-block img {
	width: 100%;
	height: auto;
}
#image-block {
	position: relative;
}
#image-block .x-overlay {
	bottom: 20px;
	left: 20px;
	position: absolute;
}
#image-block .x-overlay a {
	color: #ddd;
	font-size: 30px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#image-block:hover .x-overlay a {
	color: #000;
}
.desc {
	font-size: 13px;
	padding: 15px 0;
}
.desc li {
	list-style: square outside none;
	margin-left: 10px;
	padding: 0;
}
.featured-title {
	margin-left: 0;
	padding-left: 0;
}
.desc .product-featured {
	text-align: left;
}
.product-featured ul {
	display: inline-block;
	margin: 0 0 5px;
	padding: 0;
	width: 100%;
}
.product-featured li {
	list-style: square outside none;
	margin-left: 10px;
	padding: 0;
}
.page-product-heading {
	background: none repeat scroll 0 0 #000000;
	border-bottom: 6px solid #D2583E;
	clear: both;
	color: #FFFFFF;
	display: block;
	padding: 10px;
}
.page-product-box .rte {
	padding: 0 0 20px 0;
}
.table-data-sheet {
	width: 100%;
}
.table-data-sheet th {
	border-bottom: 1px solid #dddddd;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	text-transform: uppercase;
	vertical-align: middle;
}
.table-data-sheet td {
	font-family: 'Roboto', sans-serif;
	border: none;
	color: #858585;
	font-size: 12px;
	padding: 5px;
	vertical-align: middle;
}
.table-data-sheet tr:nth-child(2n) {
	background: #fff;
}
.pb-right-column .btn.btn-main2 {
}
.pb-right-column .btn.btn-main2 span {
	font-size: 20px;
}
.pb-right-column .panel {
	padding-bottom: 20px;
}
.product-tabs {
	display: inline-block;
}
.pb-right-column .panel .price {
	color: #D2583E;
	font-size: 4em;
}
.product-featured .featured-box:first-child {
	border-left: 0;
}
.product-featured {
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	display: inline-block;
	margin: 10px 0 5px;
	width: 100%;
}
.product-featured .featured-box {
	border-right: 1px solid #dddddd;
	display: inline-block;
	float: left;
	padding: 10px 20px;
	vertical-align: top;
}
.featured-title {
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
}
.featured-content {
	color: #666666;
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	margin-left: 9px;
}
.featured-content i {
	font-size: 20px;
	display: inline-block;
	margin-right: 5px;
}
.btn-set-middle {
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 430px;
}
.btn-set-section {
	border-bottom: 1px solid #eeeeee;
	margin: 60px auto 70px;
	padding-bottom: 30px;
}
.btn-set-middle a {
	color: #fff;
	display: block;
	padding: 10px;
	transform: rotate(0deg) scale(1.003) skew(-26deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1.003) skew(-26deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(-26deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(-26deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(-26deg) translate(0px);
}
.btn-set-middle a span {
	display: block;
	transform-style: flat;
	-webkit-transform-style: flat;
	-moz-transformtransform-style: flat;
	-ms-transform-style: flat;
	transform: rotate(0deg) scale(1.003) skew26deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
}
.btn-set-middle .btn-email {
	background: none repeat scroll 0 0 #000;
	position: absolute;
	right: -63px;
	top: 0;
	width: 231px;
}
.btn-set-middle .btn-call {
	left: -55px;
	position: absolute;
	top: 0;
	width: 231px;
}
.btn-set-info {
	color: #888888;
	font-size: 12px;
	margin-top: -30px;
}
.product-tab .nav-tabs > li > a {
	font-size: 22px;
	padding: 5px 20px;
}
.product-tab .nav-tabs > li:first-child {
	margin-left: 5px;
}
.product-tab .nav-tabs:after {
	bottom: -4px;
	content: "";
	display: inline-block;
	height: 5px;
	left: 0;
	position: absolute;
	width: 100%;
	transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
}
.product-tab .nav-tabs {
	border-bottom: 0 none;
	display: inline-block;
	position: relative;
	width: 100%;
}
.product-tab ul.clearfix li {
	color: #858585;
	font-size: 13px;
	list-style: none outside none;
	padding-left: 10px;
}
.product-tab ul.clearfix li.heading {
	color: #666666;
	font-family: 'Fjalla One', sans-serif;
	font-size: 17px;
	list-style: square outside none;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 0;
}
.carousel-3 li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}
.carousel-3 li h3 {
	font-size: 17px;
	color: #666666;
}
.overlay-bot .section-header .heading {
	font-size: 26px;
}
html .overlay-bot hr:before {
	border-color: #f9f9f9;
}
/*05 List view*/


.product-grid.list-view li {
	display: inline-block;
	float: none;
	list-style: outside none none;
	margin: 0 0px 20px 0;
	position: relative;
	vertical-align: top;
	width: 100%;
}
.product-grid.list-view li .product-image {
	float: left;
	margin-right: 2%;
	width: 28%;
}
.product-grid.list-view li .product-bottom {
	box-sizing: padding-box;
	float: left;
	padding-right: 0;
	padding-top: 20px;
	width: 68%;
}
.product-grid.list-view .product-bottom .product-name {
	display: inline-block;
}
.product-desc {
	display: none;
}
.product-grid.list-view .product-desc {
	display: block;
	padding: 20px 0;
}
.product-grid .btn-group {
	display: none;
}
.product-grid.list-view .btn-group {
	display: block;
	float: right;
}
.product-grid .btn-group .btn {
	margin-right: 10px;
}
.btn-resize {
	margin-right: 20px;
	width: 120px;
}
.btn-resize a {
	display: inline-block;
	line-height: 23px;
	margin: 0 15px 0 0;
	padding: 6px 10px;
}
.btn-resize a i {
	font-size: 19px;
	position: relative;
	top: 3px;
}
.switcher-view a {
	margin: 0 10px;
	display: inline-block;
}
html .switcher-view .btn {
	border-radius: 0;
	font-size: 12px;
	line-height: 1.5;
	padding: 7px 12px;
}
html .switcher-view .glyphicon {
	font-size: 15px;
}
.active-btn {
	background-color: #e21712;
	color: #fff;
}
.panel-line .panel-body:first-child {
	border-top: 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 2px;
}
.panel-line .panel-body {
	border-top: 1px solid #ddd;
	padding-left: 0;
	padding-right: 0;
}
.filter-panel .form-group.float-right {
	margin-right: 0;
}
/*06 Footer Shop*/


.footer-shop {
	font-family: 'latolight';
	background: #000;
	padding: 30px 0;
	color: #ccc;
}
.footer-shop a {
	color: #ccc;
}
.footer-shop .fot-title, .footer-shop .widgettitle, .footer-shop .wpb_heading {
	position: relative;
	color: #ccc;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.fot-title, .footer-shop .widgettitle, .footer-shop .wpb_heading {
	font-family: 'oswaldbook';
	text-transform: uppercase;
	font-size: 16px;
	text-align: left;
	position: relative;
}
.footer-shop .fot-title:after, .footer-shop .widgettitle:after, .footer-shop .wpb_heading:after {
	border: 1px solid #333333;
	border-left: 0;
	border-right: 0;
	bottom: -10px;
	content: "";
	display: block;
	height: 5px;
	position: absolute;
	width: 100%;
}
.footer-shop .product-grid img {
	display: none !important;
}
.footer-shop ul {
	margin: 0;
	padding: 0;
	color: #ccc;
	list-style: none;
}
.fot-box {
	margin-bottom: 30px;
}
.x-hover-box li, .footer .widget li {
	margin-bottom: 5px;
	margin-left: 20px;
	position: relative;
}
.x-hover-box li:before, .footer .widget li:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	content: '';
	border: 5px solid #fff;
	border-bottom-color: #000 !important;
	border-left-color: #000 !important;
	left: -20px;
	position: absolute;
	top: 5px;
}
.x-hover-box li a, .footer .widget li a {
	padding: 5px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.x-hover-box li a:hover, .footer .widget li a:hover {
	background-color: #ffc908;
	text-decoration: none !important;
	color: #000;
}
.x-hover-box li:hover:before, .footer .widget li a:hover:before {
	border-color: #ffc908;
}
.x-hover-box li:hover > a, .footer .widget li a:hover a {
	text-decoration: underline;
}
.x-hover-box ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.parallax-black .fot-contact i {
	color: #fff !important;
}
.home-section .fot-contact i {
	border: 2px solid #e21712 !important;
	border-radius: 100px;
	float: left;
	padding: 10px;
	width: 50px;
	line-height: 27px;
	color: #000;
	text-align: center;
	height: 50px;
	font-size: 20px;
}
.home-section .fot-contact .media-body {
	padding-top: 15px;
}
.fot-contact i {
	font-size: 20px;
	margin-right: 15px;
	color: #ccc;
}
.mc4wp-form {
	position: relative;
}
.mc4wp-form button {
	color: #000;
	font-family: "oswaldbold";
	font-size: 17px;
	line-height: 12px;
	background: none repeat scroll 0 0 #ffc908;
	border: medium none;
	font-size: 12px;
	height: 49px;
	line-height: 25px;
	padding: 15px 21px;
	position: absolute;
	right: 0;
	top: 0;
}
.home-section .mc4wp-form input[type="text"], .mc4wp-form input[type="email"] {
	color: #fff;
	background: none;
	border: 1px solid #fff !important;
	padding: 14px 57px 14px 14px;
	width: 100%;
	font-family: 'latoitalic';
	color: #dddddd;
	margin-left: -40px;
}
.footer .home-section .mc4wp-form input[type="text"], .footer .mc4wp-form input[type="email"] {
	margin-left: 0px;
	border: 1px solid #333333 !important;
}
.footer .mc4wp-form button {
	right: 0px !important;
}
.home-section .mc4wp-form button {
	color: #fff;
	font-family: "oswaldbold";
	font-size: 16px;
	line-height: 12px;
	background: none repeat scroll 0 0 #e21712;
	border: medium none;
	font-size: 12px;
	height: 49px;
	min-width: 110px;
	line-height: 25px;
	padding: 15px 21px;
	position: absolute;
	right: -87px;
	top: 0;
}
.home-section .mc4wp-form button:after {
	border: 7px solid #e21712;
	content: '';
	display: block;
	position: absolute;
	left: -7px;
	top: 17px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.mc4wp-form input[type="text"], .mc4wp-form input[type="email"] {
	color: #fff;
	background: none;
	border: 1px solid #333333;
	padding: 13px 57px 14px 14px;
	width: 100%;
	font-family: 'latoitalic';
	color: #dddddd;
}
html .mc4wp-success {
	color: #fff;
	background-color: #468847;
	border-color: #468847;
}
html .mc4wp-notice {
	color: #fff;
	background-color: #3a87ad;
	border-color: #3a87ad;
}
html .mc4wp-error {
	color: #fff;
	background-color: #b94a48;
	border-color: #b94a48;
}
.fot-box .social-box .social-links li a {
	border: 1px solid #333333;
}
.footer-absolute {
	background: none repeat scroll 0 0 #222222;
	border-bottom: 40px solid #fff;
	padding: 20px 0;
	position: relative;
}
.scroll-top {
	background: none repeat scroll 0 0 #fff;
	bottom: -25px;
	display: inline-block;
	left: 48%;
	padding: 20px;
	position: absolute;
	text-align: center;
	width: 63px;
	text-decoration: none !important;
}
/*08 Home Promo Blocks*/


.heading-wrap-style-2 .small-logo {
	color: #000;
}
.heading-wrap-style-2 .section-heading {
	color: #ffc907;
	font-size: 28px;
	margin-bottom: 0;
}
.primary-color {
	background-color: #e21712;
}
.double-line {
	border: none;
	border-bottom: #ddd 1px solid;
	position: relative;
	display: inline-block;
	width: 100%;
	padding-bottom: 5px;
}
.double-line:after {
	border-bottom: 1px solid #ddd;
	content: "";
	display: inline-block;
	position: absolute;
	top: 3px;
	width: 100%;
}
.vc_separator {
	border: none;
	border-bottom: #ddd 1px solid;
	position: relative;
	display: inline-block;
	width: 100%;
	padding-bottom: 3px;
	margin: 20px 0;
}
.vc_separator:after {
	border-bottom: 1px solid #ddd;
	content: "";
	display: inline-block;
	position: absolute;
	top: 3px;
	width: 100%;
}
.banner-full-width {
	padding: 30px 20px 20px;
	margin-bottom: 30px;
}
.banner-full-width .btn {
	background-color: transparent !important;
	color: #fff;
	margin-top: 0;
	padding: 12px 20px;
	border: 1px solid #fff;
	position: relative;
	top: 8px;
}
.banner-full-width h1, .banner-full-width h2, .banner-full-width h3, .banner-full-width h4, .banner-full-width h5 {
	font-family: 'oswaldbook';
	font-size: 22px;
	text-transform: uppercase;
	color: #fff;
}
.banner-full-width h5 {
	font-family: 'oswaldbook';
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
}
.promo-block {
	text-align: center;
}
.promo-item {
	display: inline-block;
	margin: 3% 0;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: 100%;
	max-height: 190px;
}
.home-section .promo-item {
	max-height: 260px;
}
.home-section .promo-item {
	display: inline-block;
	margin: 3%;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: 94%;
}
.promo-item img {
	width: 100%;
	height: auto;
}
.promo-caption {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	background: none repeat scroll 0 0 #000;
	bottom: -100px;
	color: #fff;
	display: block;
	height: 143px;
	padding: 0 76px 20px 24px;
	position: absolute;
	right: -74px;
	text-align: right;
	width: 535px;
	transform: rotate(-17deg);
	-moz-transform: rotate(-17deg);
	-o-transform: rotate(-17deg);
	-webkit-transform: rotate(-17deg);
	transform: rotate(-17deg);
}
.promo-caption .promo-content {
	position: relative;
	right: -10px;
	top: -35px;
	transform: rotate(17deg);
	-moz-transform: rotate(17deg);
	-o-transform: rotate(17deg);
	-webkit-transform: rotate(17deg);
	transform: rotate(17deg);
}
.promo-caption h3 {
	font-family: 'oswaldbook';
	font-size: 16px;
}
.promo-caption h4 {
	font-size: 22px;
}
.promo-item:hover .overlay-promo {
	opacity: 1;
}
.home-section .overlay-promo {
	padding: 103px;
}
.overlay-promo {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 73px;
	text-align: center;
}
.overlay-promo .btn {
	background: none;
	border: 1px solid #fff;
	color: #fff;
}
.promo-item:hover .promo-caption {
	background-color: #e21712;
}
.product-button-group {
	clear: both;
	width: 100%;
	display: inline-block;
	padding-bottom: 0;
	border-top: 1px solid #ddd;
	padding-top: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.product-right .shortdesc {
	border-top: 1px solid #ddd;
	padding-top: 15px;
}
.product_list_widget li:before {
	display: none !important;
}
.product_list_widget .star-rating {
	margin: 10px 0;
}
.product_list_widget li .amount {
	background: none repeat scroll 0 0 #000;
	color: #fff;
	display: inline-block;
	font-family: "oswaldbook";
	margin-right: 10px;
	padding: 5px;
	float: left;
	margin-top: 10px;
}
.product_list_widget li del {
	float: left;
}
.product_list_widget li ins {
	float: left;
}
.product_list_widget li del .amount {
	font-family: "oswaldbook";
	color: #878787;
	font-size: 14px;
	text-decoration: line-through;
	background: none !important;
	float: left;
	margin-top: 5px;
}
.product_meta {
	border-top: 1px solid #ddd;
	padding-top: 20px;
}
/*09  Shop Section*/


.shop-section {
	background-color: #fff;
	padding: 30px 0;
	position: relative;
}
.top-header {
	border-bottom: 1px solid #ddd;
	padding: 10px 0 10px;
	display: inline-block;
	width: 100%;
}
.info-top ul {
	margin: 0;
	padding: 0;
}
.info-top ul li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
}
.info-top ul li i {
	margin-right: 5px;
}
.empty-cart {
	padding: 10px;
}
.popover-shorty {
	display: inline-block;
	margin-right: 5px;
	position: relative;
}
.popover-shorty .popover:after {
	content: "";
	display: block;
	height: 34px;
	left: 0;
	position: absolute;
	top: -20px;
	width: 100%;
}
.popover-shorty > a {
	border: 1px solid #ddd;
	display: inline-block;
	font-size: 20px;
	height: 40px;
	padding: 7px;
	text-align: center;
	width: 40px;
	position: relative;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.popover-shorty > a:hover {
	background: #000;
	color: #fff;
}
.popover-shorty:hover .popover {
	display: block;
}
.popover-cart {
	border-top: 2px solid #000;
	left: -290px;
	min-width: 330px;
	padding: 0;
}
.popover-cart .entry-thumbnail {
	width: 200px;
}
.popover-cart .media img {
	width: 100%;
	height: auto;
}
.popover-shorty .media {
	margin-top: 0;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.popover-shorty .media:hover {
	background: none repeat scroll 0 0 #f7f7f7;
}
.popover-shorty .media:hover .price-reduction:after {
	border-right: 9px solid #aaaaaa;
	border-bottom: 14px solid #f7f7f7;
	border-top: 14px solid #f7f7f7;
	border-left: 9px solid #f7f7f7;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
}
.popover-shorty .media img {
	border: 1px solid #ddd;
	width: 100px;
	max-width: inherit;
}
.popover-shorty .media-body {
	display: inline-block;
	padding-left: 15px;
	width: 100%;
	position: relative;
}
.qty-cart {
	font-family: 'latoitalic';
	font-size: 13px;
	color: #b8b8b8;
	padding-top: 10px;
}
.popover-shorty .entry-title {
	text-transform: uppercase;
	padding-right: 30px;
}
.del-cart-item {
	border: 1px solid #ddd;
	height: 25px;
	padding: 2px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 25px;
	cursor: pointer;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.del-cart-item:hover {
	background: #000;
	color: #fff;
}
.del-cart-item:hover * {
	color: #fff;
}
.popover-shorty .panel-footer {
	background: #fff;
	padding: 10px;
	border: 0;
	border-bottom: 1px solid #ddd;
}
.popover-shorty .panel-footer .btn {
	margin-right: 10px;
	width: 40%;
}
.popover-shorty .btn-cart {
	background: #000;
	color: #fff;
}
.popover-shorty .panel-footer .btn-cart {
	border: #ffc908 !important;
	background: #ffc908 !important;
}
.top-search {
	float: right;
	width: 375px;
}
.top-search .form-control {
	height: auto;
	padding: 9px 15px;
}
.top-search .btn {
	padding: 9px 15px;
}
.top-search .dropdown-menu {
	background: #fff;
	border: 1px solid #ddd;
}
.popover-shorty > a .qty-top-cart-active {
	background: #ffc908;
	border-radius: 100px;
	color: #fff;
	font-size: 11px;
	height: 20px;
	line-height: 22px;
	position: absolute;
	right: -8px;
	top: -6px;
	width: 20px;
}
/*Loader*/




.ajax-loading li .product-container {
	opacity: 0.6;
}
.ajax-loading .spinner {
	display: block;
}
.spinner {
	display: none;
	width: 30px;
	height: 30px;
	top: 35%;
	margin: 0;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	z-index: 888;
}
.list-view .spinner {
	left: 14%;
}
.container1 > div, .container2 > div, .container3 > div {
	width: 6px;
	height: 6px;
	background-color: #ffc908;
	border-radius: 100%;
	position: absolute;
	-webkit-animation: bouncedelay 1.2s infinite ease-in-out;
	animation: bouncedelay 1.2s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.spinner .spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
}
.container2 {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
.container3 {
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}
.circle1 {
	top: 0;
	left: 0;
}
.circle2 {
	top: 0;
	right: 0;
}
.circle3 {
	right: 0;
	bottom: 0;
}
.circle4 {
	left: 0;
	bottom: 0;
}
.container2 .circle1 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.container3 .circle1 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
.container1 .circle2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.container2 .circle2 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
.container3 .circle2 {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}
.container1 .circle3 {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}
.container2 .circle3 {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}
.container3 .circle3 {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.container1 .circle4 {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.container2 .circle4 {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.container3 .circle4 {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}
 @-webkit-keyframes bouncedelay {
 0%, 80%, 100% {
-webkit-transform: scale(0.0)
}
 40% {
-webkit-transform: scale(1.0)
}
}
 @keyframes bouncedelay {
 0%, 80%, 100% {
 transform: scale(0.0);
 -webkit-transform: scale(0.0);
}
40% {
 transform: scale(1.0);
 -webkit-transform: scale(1.0);
}
}
